<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>HandleConferenceSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>eeee</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>conference.handle.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/aaa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login1Servlet</servlet-name>
    <servlet-class>conference.handle.servlet.Login1Sevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login1Servlet</servlet-name>
    <url-pattern>/aaaa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login11Servlet</servlet-name>
    <servlet-class>conference.handle.servlet.Login11Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login11Servlet</servlet-name>
    <url-pattern>/guanLi/nmsl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllUserServlet</servlet-name>
    <servlet-class>conference.handle.servlet.AllUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllUserServlet</servlet-name>
    <url-pattern>/guanLi/wsnd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteOUserServlet</servlet-name>
    <servlet-class>conference.handle.servlet.DeleteOUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOUserServlet</servlet-name>
    <url-pattern>/guanLi/nihao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>conference.handle.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/bbb</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyServlet</servlet-name>
    <servlet-class>conference.handle.servlet.ModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyServlet</servlet-name>
    <url-pattern>/ccc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllHuiYiServlet</servlet-name>
    <servlet-class>conference.handle.servlet.AllHuiYiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllHuiYiServlet</servlet-name>
    <url-pattern>/eeee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>XiangQingServlet</servlet-name>
    <servlet-class>conference.handle.servlet.XiangQingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XiangQingServlet</servlet-name>
    <url-pattern>/gggg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BaoMingServlet</servlet-name>
    <servlet-class>conference.handle.servlet.BaoMingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaoMingServlet</servlet-name>
    <url-pattern>/hhhh</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyMeetsServlet1</servlet-name>
    <servlet-class>conference.handle.servlet.MyMeetsServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyMeetsServlet1</servlet-name>
    <url-pattern>/iiii</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JieMessageServlet</servlet-name>
    <servlet-class>conference.handle.servlet.JieMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JieMessageServlet</servlet-name>
    <url-pattern>/qqqq</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CanYuTPServlet</servlet-name>
    <servlet-class>conference.handle.servlet.CanYuTPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CanYuTPServlet</servlet-name>
    <url-pattern>/tttt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CanYuWJServlet</servlet-name>
    <servlet-class>conference.handle.servlet.CanYuWJServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CanYuWJServlet</servlet-name>
    <url-pattern>/yyyy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TouPiaoServlet</servlet-name>
    <servlet-class>conference.handle.servlet.TouPiaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TouPiaoServlet</servlet-name>
    <url-pattern>/uuuu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WenJuanServlet</servlet-name>
    <servlet-class>conference.handle.servlet.WenJuanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WenJuanServlet</servlet-name>
    <url-pattern>/oooo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TuiChuServlet</servlet-name>
    <servlet-class>conference.handle.servlet.TuiChuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TuiChuServlet</servlet-name>
    <url-pattern>/pppp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddQDRecordServlet</servlet-name>
    <servlet-class>conference.handle.servlet.AddQDRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQDRecordServlet</servlet-name>
    <url-pattern>/xxxx</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Modify1Servlet</servlet-name>
    <servlet-class>conference.handle.servlet.Modify1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modify1Servlet</servlet-name>
    <url-pattern>/admin/cccc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuXiaoBMServlet</servlet-name>
    <servlet-class>conference.handle.servlet.QuXiaoBMServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuXiaoBMServlet</servlet-name>
    <url-pattern>/quxiao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddMeetServlet</servlet-name>
    <servlet-class>conference.handle.servlet.AddMeetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMeetServlet</servlet-name>
    <url-pattern>/admin/dddd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyMeetsServlet</servlet-name>
    <servlet-class>conference.handle.servlet.MyMeetsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyMeetsServlet</servlet-name>
    <url-pattern>/admin/ffff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendMessageServlet</servlet-name>
    <servlet-class>conference.handle.servlet.sendMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendMessageServlet</servlet-name>
    <url-pattern>/admin/kkkk</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChaKanMessageServlet</servlet-name>
    <servlet-class>conference.handle.servlet.ChaKanMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChaKanMessageServlet</servlet-name>
    <url-pattern>/admin/jjjj</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FaQiTouPiaoServlet</servlet-name>
    <servlet-class>conference.handle.servlet.FaQiTouPiaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaQiTouPiaoServlet</servlet-name>
    <url-pattern>/admin/wwww</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FaQiWenJuanServlet</servlet-name>
    <servlet-class>conference.handle.servlet.FaQiWenJuanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaQiWenJuanServlet</servlet-name>
    <url-pattern>/admin/rrrr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VoteTongJiServlet</servlet-name>
    <servlet-class>conference.handle.servlet.VoteTongJiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoteTongJiServlet</servlet-name>
    <url-pattern>/admin/qqqq</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WenJuanTongJiServlet</servlet-name>
    <servlet-class>conference.handle.servlet.WenJuanTongJiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WenJuanTongJiServlet</servlet-name>
    <url-pattern>/admin/pppp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TongJiQdServle</servlet-name>
    <servlet-class>conference.handle.servlet.TongJiQdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TongJiQdServle</servlet-name>
    <url-pattern>/admin/pqpq</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>YaoQingJiaBingServlet</servlet-name>
    <servlet-class>conference.handle.servlet.YaoQingJiaBingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YaoQingJiaBingServlet</servlet-name>
    <url-pattern>/admin/yqjb</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>YQCLServlet</servlet-name>
    <servlet-class>conference.handle.servlet.YQCLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YQCLServlet</servlet-name>
    <url-pattern>/admin/invite</url-pattern>
  </servlet-mapping>
  
  <listener>
    <listener-class>conference.handle.listener.MyServletContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>MyYeMianFilter</filter-name>
    <filter-class>conference.handle.filter.MyYeMianFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyYeMianFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>conference.handle.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/guanLi/admin.jsp</url-pattern>
    <url-pattern>/guanLi/allHuiYi.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>QiaoDaoFilter</filter-name>
    <filter-class>conference.handle.filter.QiaoDaoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>QiaoDaoFilter</filter-name>
    <url-pattern>/qiandao.jsp</url-pattern>
  </filter-mapping>
</web-app>